@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
    color: white;
    font-family: 'NEXON Lv1 Gothic OTF';
    text-align: center;
}

.top {
    text-align: right;
    margin: 30px 50px;
    vertical-align: middle;
}

.description {
	height: 100%; 
	padding: 10% 20%;
	background-image: url( "../img/main_pic01.jpg" );
	background-repeat: no-repeat;
	background-size: 100%;
    text-align: left;
}

.description-img {
	position: absolute;
	height: 500px;
}

p {
	margin-bottom: 20px;
	font-size: 28pt;
}

.title {
	font-size: 48pt;
}

.emphasis {
	font-size: 72pt;
}

.icon {
    width: 50px;
    height: 50px;
}

.list-block {
	padding-top: 30px;
}

.list-title {
    font-size: 20pt;
    margin: 50px;
}

.exhibition {
    margin: auto 0%;
    padding: 50px 0px;
    transition-duration: 1.5s;
    transition-timing-function: ease;
    border-radius: 10px;
    width: 30%;
    display: inline-block;	
}

.exhibition-link:link, .exhibition-link:visited, .exhibition-link:hover, .exhibition-link:active {
    color: white;
    text-decoration: none;
}

.exhibition:hover {
    background-color: white;
    color: black;
}

.exhibition-img {
	max-width: 80%;
	height: auto;
    /*max-height: 400px;*/
}

.btn {
    transition-duration: 1s;
}

footer {
	margin: 50px;
    color: rgb(150, 150, 150);
}